<?xml version="1.0" ?>
<config
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd"
>
  <default>
    <idealpostcodes>
      <settings>
        <enabled>1</enabled>
        <user_token />
        <postcode_lookup>1</postcode_lookup>
        <autocomplete>1</autocomplete>
        <admin_autocomplete>1</admin_autocomplete>
        <remove_organisation_store>1</remove_organisation_store>
        <remove_organisation_admin>1</remove_organisation_admin>
        <require_county>0</require_county>
        <hoist_country>1</hoist_country>
        <autocomplete_override>{}</autocomplete_override>
        <postcode_lookup_override>{}</postcode_lookup_override>
        <custom_fields>[]</custom_fields>
      </settings>
    </idealpostcodes>
  </default>
</config>
